<div class="renter-container card p-4 mb-4">
  <div class="d-flex w-100 justify-content-between mb-2">
    <h4><span class="text-danger font-italic me-1">Borrowed Instruments</span></h4>
    <%= link_to "Book an Instrument 🎹", instruments_path, class:"btn btn-danger text-decoration-none text-white"%>
  </div>
  <div class="row">
    <% @current_user.customer_bookings.each do |booking| %>
        <div class="col-md-6 mb-4 mb-md-2 mt-2">
          <div class="card-product">
            <%= cl_image_tag booking.instrument.photo.key %>
            <div class="card-product-infos">
              <h2 class="text-danger">
              <div class="d-flex justify-content-between">
                <%= link_to booking.instrument.name, instrument_path(booking.instrument), class:"text-decoration-none text-danger d-flex justify-content-end"%>
                <%= render  "bookings/shared/status", booking: booking %>
              </div>
              </h2>
              <p><strong>Pick up date: </strong><%= booking.pick_up_date %> | <strong>Drop off date: </strong> <%= booking.drop_off_date %></p>
              <p><strong>Pick-up / Drop-off location: </strong><%= booking.instrument.address %></p>
              <p><strong>Owner contact:</strong> <%= booking.owner.name %> / <%= booking.owner.email %></p>
            </div>
          </div>
        </div>
    <%end%>
  </div>
</div>
