
  <section style="background-color: #eee;">
      <div class="container py-5">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "rounded-circle img-fluid", style: "width: 150px;" %>
            <% else %>
              <h1>Hellou</h1>
            <% end %>
            <h5 class="my-3"><%= @user.name %></h5>
            <p class="text-muted mb-1"><%= @user.age %></p>
            <p class="text-muted mb-4"><%= @user.location %></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-danger"><%= link_to "Edit Profile", edit_user_registration_path, class:"text-decoration-none text-white"%></button>
            </div>
          </div>
        </div>


      <div>
        <button type="button" class="btn btn-danger"><%= link_to "Create an Instrument", new_instrument_path, class:"text-decoration-none text-white"%></button>
      </div>

      <div>
        <button type="button" class="btn btn-danger"><%= link_to "Book an Instrument", instruments_path, class:"text-decoration-none text-white"%></button>
      </div>

<div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.phone %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.age %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.location %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-danger font-italic me-1">Borrowed Instruments</span> Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Instrument 1</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 2</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 3</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 4</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 5</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-danger font-italic me-1">Rented Instruments</span> Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Instrument 1</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 2</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 3</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 4</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 5</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-danger font-italic me-1">Store Instruments</span> Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Instrument 1</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 2</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 3</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 4</p>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Instrument 5</p>
              </div>
            </div>
          </div>
        </div>

  </div>
  </div>
  </div>
</section>

