<div class="display-home text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path '1115.jpg' %>); background-size: cover; background-position: center; background-repeat: ;">
  <div class="mx=2">
    <h2 class="text-white">Welcome to</h2>
    <h1 class="text-white display-1"><strong> INSTRUMATES</strong></h1>
  </div>
  <div >
    <div id="carouselExampleSlidesOnly" class="carousel slide p-2 =" style="background-image" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class= "d-flex justify-content-center">
              <%= image_tag("instrument1.jpg", style: "width:40%;", alt: "...") %>
            </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <%= image_tag("Instrument3.jpg", style: "width:40%;", alt: "...") %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
          <%= image_tag("Instrument2.jpg", style: "width:40%;", alt: "...") %>
        </div>
          </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
          <%= image_tag("instrument4.jpg", style: "width:40%;", alt: "...") %>
        </div>
        </div>
      </div>
    </div>
  <div class="mx-3">
    <button type="button" class="btn-lg btn btn-light rounded-pill"><%= link_to "Borrow instruments you need. Rent those you don’t", instruments_path, class:"text-decoration-none text-danger"%></button>
  </div>
</div>
