<%= turbo_frame_tag "edit_instrument" do %>
  <div class="shadow-lg card d-flex p-3" style="width: 18rem;">
    <%= simple_form_for(@instrument) do |f| %>
      <%= f.input :name %>
      <%= f.input :condition %>
      <%= f.input :price %>
      <%= f.input :category, label:"Type" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-outline-danger" %>
    <% end %>
  </div>
<% end %>
