<%= turbo_frame_tag "edit_instrument" do %>
  <div class="shadow-lg card d-flex p-3" style="width: 18rem;">
    <%= simple_form_for(@instrument) do |f| %>
          <%= f.input :photo, as: :file, label: "Instrument picture ðŸ“·" %>
          <%= f.input :name, as: :select, collection: Instrument::INSTRUMENTS, label:"Instrument ðŸŽµ" %>
          <%= f.input :condition, as: :select, collection: Instrument::CONDITIONS, label:"Condition" %>
          <%= f.input :category, as: :select, collection: Instrument::CATEGORIES, label:"Category" %>
          <%= f.input :price, label:"Price ðŸ«°"%>
          <%= f.input :address, label:"Pick up location ðŸ“"%>
      <%= f.submit class: "btn btn-outline-danger" %>
    <% end %>
  </div>
<% end %>
