
<div class="container my-4">
  <div class="row d-flex justify-content-center">
    <div class="col-6 bg-white p-4 shadow">
        <%= simple_form_for(@instrument) do |f| %>
          <%= f.input :photo, as: :file, label: "Instrument picture 📷" %>
          <%= f.input :name, as: :select, collection: Instrument::INSTRUMENTS, label:"Instrument 🎵" %>
          <%= f.input :condition, as: :select, collection: Instrument::CONDITIONS, label:"Condition" %>
          <%= f.input :category, as: :select, collection: Instrument::CATEGORIES, label:"Category" %>
          <%= f.input :price, label:"Price 🫰"%>
          <%= f.submit class: "btn btn-outline-danger" %>
        <% end %>
    </div>
  </div>
</div>
